{% extends 'base.html' %}

{% block content %}
    <div class="flex justify-center items-center">
        <form action="" method="post"
              class="m-2 p-4 border-1 rounded-2 flex flex-col justify-center items-center gap-4">
            {% csrf_token %}
            <div class="my-2">
                <label for="login"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Логин</label>
                <input name="login" id="login"
                       placeholder="username"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required/>
            </div>
            <div class="my-2">
                <label for="password1"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Пароль</label>
                <input name="password1" id="password1"
                       placeholder="****"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required/>
            </div>
            <div class="my-2">
                <label for="password2"
                       class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Повторите пароль</label>
                <input name="password2" id="password2"
                       placeholder="****"
                       class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                       required/>
            </div>
            <button type="submit"
                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                Зарегистрироваться
            </button>
        </form>
    </div>
{% endblock %}